mixin job-description

    .job-description.card
        .job-description-section
            p.job-description-title.font-futura DESIGN
            ul.job-description-list
                li ユーザー体験を考慮したデザイン改善やグロース施策に伴うUIデザイン
                li アプリ訴求やコンテンツ訴求を目的としたバナー作成
                li Pug、Sass、HTML、CSSを中心としたコーディング
                li CMS（Movable Type）を使用した静的ページのメンテナンス
                
        .job-description-section
            p.job-description-title.font-futura DIRECTION
            ul.job-description-list
                li デザイン改善やグロース施策の案件企画、ディレクション
                li 各施策・UI改善の要件定義、仕様策定
                li プロダクトリリースに伴うデバッグ作業の進行・調整
                li ログ設計、ABテストの設計・分析

