mixin header

    header
        .header
            .header-title.font-futura YAHIRO SATOSHI
            ul.header-menu
                li.header-menu-item
                    a(href="#works").font-futura WORKS
                li.header-menu-item
                    a(href="#footer").font-futura CONTACT
            .header-icon.menu
            .header-icon.close