include ../../../layout/default/_default
include ../../component/header/_header
include ../../component/introduction/_introduction
include ../../component/job-description/_job-description
include ../../component/card-item/_card-item-career
include ../../component/card-item/_card-item-work
include ../../component/card-item/_card-item
include ../../component/footer/_footer

doctype html
html(lang='ja')
    head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
    title Portfolio | Yahiro Satoshi
    meta(name='author' content='Yahiro Satoshi')
    meta(name='description' content='八尋誠史のポートフォリオサイトです。')
    link(rel="stylesheet" href="./top.css")
    link(rel="apple-touch-icon" sizes="57x57" href="../../../img/favicon.ico/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="../../../img/favicon.ico/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="../../../img/favicon.ico/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="../../../img/favicon.ico/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="../../../img/favicon.ico/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="../../../img/favicon.ico/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="../../../img/favicon.ico/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="../../../img/favicon.ico/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="../../../img/favicon.ico/apple-icon-180x180.png")
    link(rel='icon' href='../../../img/favicon.ico/favicon.ico' type='image/x-icon') 
    link(rel="icon" type="image/png" sizes="192x192"  href="../../../img/favicon.ico/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../../../img/favicon.ico/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="../../../img/favicon.ico/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../../../img/favicon.ico/favicon-16x16.png")
    link(rel="manifest" href="../../../img/favicon.ico/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="../../../img/favicon.ico/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    script(src='./top.js')

    body
        +header
        main.wrapper
            .main-visual
                //- img(src="../../../img/main-visual-device.png")
            section#introduction
                .section-title.font-futura INTRODUCTION
                +introduction
            section#career
                .section-title.title-carousel.font-futura CAREER
            .carousel-wrapper
                .carousel
                    +card-item-career('2010', '../../../img/school.svg', '福岡県小郡市立小郡中学校卒業', 'http://www.ogori-mii.ed.jp/~ogori-j/')
                    +card-item-career('2013', '../../../img/school.svg', '福岡県立久留米高等学校卒業', 'http://kurume.fku.ed.jp/html/index.html')
                    +card-item-career('2017', '../../../img/school.svg', '芝浦工業大学デザイン工学部卒業', 'https://www.shibaura-it.ac.jp/faculty/design/')
                    +card-item-career('2017', '../../../img/gyao-app.svg', '株式会社GYAO入社', 'http://www.gyao.co.jp/jp/')
                    //- +card-item-career('2020', '../../../img/work.svg', 'ヤフー株式会社へ転籍予定', 'https://about.yahoo.co.jp/')
            section#job-description
                .section-title.font-futura JOB DESCRIPTION
                +job-description
            section#works
                .section-title.title-carousel.font-futura WORKS
            .carousel-wrapper
                .carousel.carousel-work
                    +card-item-work('../../../img/gyao-lp.png', '自主制作 - GYAO! LP', 'https://sayahiro.github.io/lp/templete/index')
                    +card-item-work('../../../img/music-app.png', '自主制作 - Music APP', 'https://sayahiro.wordpress.com/music-app/')
                    +card-item-work('../../../img/gyao-top.png', '業務 - GYAO!', 'https://sayahiro.wordpress.com/works-gyao/')
            section#skills
                .section-title.title-carousel.font-futura SKILLS
            .carousel-wrapper.double-carousel
                .carousel.carousel-skills
                    +card-item('../../../img/figma.svg', 'Figma', 'https://www.figma.com/', '2')
                    +card-item('../../../img/sketch.svg', 'Sketch', 'https://www.sketch.com/', '2')
                    +card-item('../../../img/html.svg', 'HTML', 'https://developer.mozilla.org/ja/docs/Web/HTML', '2')
                    +card-item('../../../img/css3.svg', 'CSS', 'https://developer.mozilla.org/ja/docs/Web/CSS', '2')
                    +card-item('../../../img/pug.svg', 'Pug', 'https://pugjs.org/api/getting-started.html', '2')
                    +card-item('../../../img/sass.svg', 'Sass', 'https://sass-lang.com/', '2')
            .carousel-wrapper
                .carousel.carousel-skills
                    +card-item('../../../img/github.svg', 'Github', 'https://github.co.jp/', '2')
                    +card-item('../../../img/illustrator.svg', 'Illustrator', 'https://www.adobe.com/jp/products/illustrator.html', '1')
                    +card-item('../../../img/photoshop.svg', 'Photoshop', 'https://www.adobe.com/jp/products/photoshop.html', '1')
                    +card-item('../../../img/xd.svg', 'XD', 'https://www.adobe.com/jp/products/xd.html', '1')
                    +card-item('../../../img/prott.svg', 'Prott', 'https://prottapp.com/ja/', '1')
                    +card-item('../../../img/javascript.svg', 'Javascript', 'https://developer.mozilla.org/ja/docs/Web/JavaScript', '1')
            section#tools
                .section-title.title-carousel.font-futura TOOLS
            .carousel-wrapper
                .carousel.carousel-tool
                    +card-item('../../../img/slack.svg', 'Slack', 'https://slack.com/intl/ja-jp/', '')
                    +card-item('../../../img/vscode.svg', 'VScode', 'https://azure.microsoft.com/ja-jp/products/visual-studio-code/', '')
                    +card-item('../../../img/sourcetree.svg', 'SoruceTree', 'https://www.sourcetreeapp.com/', '')
        +footer
