mixin introduction

    .introduction.card
        img(src="../../../img/yahiro-satoshi.png" alt="八尋誠史")
        .introduction-text
            p.introduction-name
                ruby 八尋誠史<rp>(</rp><rt>ヤヒロサトシ</rt><rp>)</rp>
            p.introduction-description
                | 福岡県出身。1994年生まれ。
                br
                | 無料動画配信サービスGYAO!を運営する株式会社GYAOに新卒入社。現在までデザイナーとして勤務。
                br
                | GYAO!のWEBプロダクトを担当し、主にUIデザイン、バナー作成、コーディング、企画・ディレクションを行う。
                br
                | IoT、デザイン、音楽をはじめとするエンタメ、お酒（日本酒、テキーラ）に興味がある。
                br
                | 趣味は旅行、バラエティ・映画鑑賞、音楽を聴くこと、ラーメンやつけ麺を食べること、お酒を飲むこと。