mixin introduction

    .introduction.card
        img(src="../../../img/yahiro-satoshi.PNG" alt="八尋誠史")
        .introduction-text
            p.introduction-name
                ruby 八尋誠史<rp>(</rp><rt>ヤヒロサトシ</rt><rp>)</rp>
            p.introduction-description
                | 福岡県出身。1994年生まれ。
                br
                | 国内最大級の無料動画配信サービスGYAO!に新卒入社。現在までデザイナーとして勤務。
                br
                | WEBプロダクトを担当し、主にUIデザイン、バナー作成、コーディング、企画・ディレクションを行う。
                br
                | IoT、デザイン、音楽をはじめとするエンタメ、日本酒を中心としたお酒全般に興味関心がある。
                br
                | 好きなことは旅行、バラエティや映画を見ること、音楽を聴くこと、ラーメやつけ麺を食べること、お酒を飲むこと。