mixin footer

    .footer#footer
        p.footer-title.font-futura YAHIRO SATOSHI
        ul.footer-menu
            a.footer-menu-item.font-futura(href='#introduction') INTRODUCTION
            a.footer-menu-item.font-futura(href='#career') CAREER
            a.footer-menu-item.font-futura(href='#job-description') JOB DESCRIPTION
            a.footer-menu-item.font-futura(href='#works') WORKS
            a.footer-menu-item.font-futura(href='#skills') SKILLS
            a.footer-menu-item.font-futura(href='#tools') TOOLS
        .contact
            a.email-address.font-futura(href='mailto:yhrsts1117@gmail.com') yhrsts1117@gmail.com