mixin card-item-career(year, img, text, link)

    a.card-item-career.card(href=link target='_blank')
        p.card-item-year.font-futura=year
        img.card-item-image(src=img)
        p.card-item-description=text

