mixin card-item-work(img, text, link)

    a.card-item.card-item-work.card(href=link target='_blank')
        img.card-item-image(src=img)
        .card-item-description
            p.card-item-description-text=text